body {
font-family: Arial,sans-serif;
margin: 0;
padding: 0;
background-color: #f4f4f4;
color: #333;
transition: background-color 0.3s,color 0.3s;
}
body.dark-mode{
    background-color: #333;
    color: #f4f4f4;
}
header{
    background-color: aqua;
    color: white;
    padding: 1em 0;
    text-align: center;
}
nav{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 10px;
}
nav a{
    color: black;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-weight: bold;
    transition: background color 0.3s;
}
nav a :hover{
    background-color: #c2185b;
}
main{
    padding: 20px;
    main height: 600px;
}
footer{
    text-align: center;
    padding: 1em 0;
    background-color: #e91e63;
    color: white;
}
# about {
line-height: 1.6;
}
/*Home page style*/
# hero{
    text-align: center;
    padding: 20px 0;
}
/*Product Page style*/
# product{
    text-align: center;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1 fr));
    gap: 20px;
    padding: 20px;
}
.product{
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    transition: transform 0.3s;
}
body.dark-mode .product{
    background-color: #444;
    color: #fff;
    border-color: #555;
}
.product:hover{
    transform: translateY(-5px);
}
.product img{
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.add to cart{
    background-color: #4CAF50;
    color: white;
    padding: 19px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.add to cart:hover{
    background-color: #367c39;
}
/*Contact Page Style*/
# contact-form{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid#ddd;
    border-radius: 8px;
    background-color: white;
}
body.dark-mode #contact-form{
background-color: #444;
color: #fff;
border-color: #555;
}
#contact-form label{
    display: block;
    margin-bottom: 5px;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form text area{
    width: 100%;
    padding:8px ;
    margin-bottom: 10px;
    border: 1px solid#ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    color: #333;
}
body.dark-mode #contact-form input[type="text"],
body.daek-mode #contact-form input[type="email"],
body.dark-mode #contact-form text area{
    background-color: #666;
    color: #fff;
    border-color: #777;
}
#contact-form button[id="submit"]{
    background-color: orange;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#contact-form button[id="submit"] :hover{
    background-color:black;
}
/*Theme Toggle Button*/
#theme-toggle{
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
body.dark-mode #theme-toggle{
    background-color: #f4f4f4;
    color: #333;
}
#theme-toggle :hover{
    background-color: #555;
    color: white;
}
body.dark-mode #theme-togglev :hover{
    background-color: #ddd;
    color: #333;
}